<main>
    <header>
        <img src="/assets/Logo_3.png" class="float-start" alt="Logo" width="50" height="50">
        <ul class="nav nav-pills justify-content-center mt-2">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/" routerLinkActive="active" aria-current="page"
                    href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/inicio-sesion" href="#">Inicio de sesión</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/sobre-nosotros" href="#">Sobre nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/registrate">Regístrate</a>
            </li>
        </ul>
    </header>
</main>