<main>
  <header>
    <img src="/assets/Logo_3.png" class="float-start" alt="Logo" width="50" height="50">
    <ul class="nav nav-pills justify-content-center mt-2">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Inicio de sesión</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sobre nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Regístrate</a>
      </li>
    </ul>
  </header>

  <section>
    <app-home></app-home>
  </section>
</main>